<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Bank Statment</h1>
        </div>
        <!-- /.col -->
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a >Home</a></li>
            <li class="breadcrumb-item active">Bank Statment</li>
          </ol>
        </div> -->
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>

  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <button
          class="btn btn-primary float-right"
          style="margin-left: 10px"
          data-bs-toggle="modal"
          data-bs-target="#bulk_upload"
        >
          <i class="bi bi-file-earmark-arrow-up"></i> Upload Your Statment
        </button>
      </div>
      <br /><br />
      <hr />
      <div class="container">
        <div [formGroup]="filterForm" class="row float-left">
          <div class="form-inline">
            <div class="form-group">
              <label for="start_data">Start Date : </label>
              <input
                formControlName="start_date"
                type="date"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-inline ml-1">
            <div class="form-group">
              <label for="start_data">End Date : </label>
              <input
                formControlName="end_date"
                type="date"
                class="form-control"
              />
            </div>
          </div>
         
          <div class="form-inline ml-1">
            <select
              formControlName="role"
              class="form-control"
              name="role"
              id="role"
            >
              <option value="">--Description--</option>
              <option *ngFor="let role of rolesList" value="{{ role }}">
                {{ role}}
              </option>
            </select>
          </div>
          <button (click)="filterData()" class="btn btn-success ml-2">
            Filter
          </button>
          <button (click)="clearFilters()" class="btn btn-danger ml-2">
            Clear Filters
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row float-right">
        <form class="form-inline" id="searchbtn">
          <input
            type="search"
            name="query"
            [(ngModel)]="query"
            (ngModelChange)="searchValueChange($event)"
            class="form-control mb-2 mr-sm-2"
            id="inlineFormInputName2"
            placeholder="Search"
          />
          <button class="btn btn-primary mb-2" (click)="search()">
            Search
          </button>
        </form>
      </div>
      <br /><br />

      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            <ng-container>
              <ng-container
                ><tr *ngFor="let user of usersList">
                  <td>{{ user.date | date }}</td>
                  <td>{{ user.description }}</td>
                  <td>{{ user.debit }}</td>
                  <td>{{ user.credit }}</td>
                  <td>{{ user.balance.$numberDecimal }}</td>
                </tr></ng-container
              >
              <ng-container *ngIf="isLoading">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </ng-container>

              <ng-container *ngIf="!isLoading && isError">
                <div class="container">
                  <i class="bi bi-exclamation-triangle-fill"></i><br />
                  <h5>Error Occured</h5>
                  <button
                    class="btn btn-primary"
                    (click)="getUsersList(currentPage)"
                  >
                    Retry
                  </button>
                </div>
              </ng-container>

              <ng-container *ngIf="!isLoading && noData">
                <div class="container">
                  <h5>No data to display</h5>
                </div>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="row float-right">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li [ngClass]="{ disabled: pagescroll <= 1 }" class="page-item">
              <a class="page-link" (click)="previousPage()">Previous</a>
            </li>
            <li
              [ngClass]="{ active: currentPage === pagescroll }"
              class="page-item"
            >
              <a (click)="pageintation(pagescroll)" class="page-link">{{
                pagescroll
              }}</a>
            </li>
            <li
              [ngClass]="{
                disabled:
                  pagescroll >= pages || !usersList || usersList.length === 0
              }"
              class="page-item"
            >
              <a class="page-link" (click)="nextPage()">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bulk_upload" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Bulk Statment Upload</h4>
      </div>
      <div class="modal-body">
        <div class="column">
          <div class="row form-inline">
            <label for="file" class="form-label mr-2">File : </label>
            <div class="container">
              <input
                name="bulkUploadFile"
                [formControl]="bulkUploadFile"
                type="file"
                class="form-control"
                (change)="bulkUploadFileChange($event)"
              />
            </div>
          </div>
          <div class="row form-inline">
            <p class="ml-5"></p>
            <sub>Only upload csv File</sub>
          </div>
          <strong class="text-danger">Note: Max File Size Should Be 1MB</strong>
          <div
            [ngClass]="{'visible':bulkUploadFile.errors?.['filetype'], 'd-none':!bulkUploadFile.errors?.['filetype']}"
          >
            <p class="text-danger">Only csv file accepted</p>
          </div>
          <div
            [ngClass]="{'visible':bulkUploadFile.errors?.['size'], 'd-none':!bulkUploadFile.errors?.['size']}"
          >
            <p class="text-danger">File is larger than 1MB</p>
          </div>

          <div class="d-flex flex-row justify-content-between">
            <p>
              <strong style="display: flex; flex-direction: column">
                Download
                <strong
                  class="template fw-bold text-primary"
                  (click)="downloadTemplate()"
                  style="cursor: pointer"
                  >Template File</strong
                >
              </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-default"
          data-dismiss="modal"
          (click)="resetBulkUpload()"
        >
          Close
        </button>
        <button
          class="btn btn-primary"
          [disabled]="!bulkUploadFile.valid || submitInProgress"
          (click)="submitBulkUpload()"
        >
          <ng-container *ngIf="submitInProgress">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
          </ng-container>
          <ng-container *ngIf="!submitInProgress"> Upload </ng-container>
        </button>
      </div>
    </div>
  </div>
</div>
