<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Expense Insight</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-title"></div>
    </div>
    <div class="card-body">
   
   <div class="row">
    <div class="col-lg-6">
        <h2>Debit Expense</h2>
        <canvas id="debitchart"></canvas>
    </div>

    <div class="col-lg-6">
      <h2>Credit Expense</h2>
      <canvas id="creditchart"></canvas>
  </div>

    </div>

    </div>
  </div>
</div>
